@charset "utf-8";
/*全局样式*/
body {
 font: 14px/1.6 'Microsoft YaHei', 'Hiragino Sans GB';
 margin:0;
 padding:0;
 border:none;
}
html,div,span,form,fieldset,legend,h1,h2,h3,h4,h5,h6,hr,p,br,ul,ol,li,dl,dt,dd,pre{ margin:0;padding:0;border:none;}
button,input,textarea,th,td{ margin:0;padding:0;}
ul,ol{list-style:none;}
img{ border:0px;}
table {border-collapse: collapse; border-spacing: 0; }
a,a:hover {text-decoration:none;} /*color: #428bca;*/
/*a:visited {color: #428bca;}*/
button{border: none;}
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
-webkit-appearance: none;
}

a{
-webkit-tap-highlight-colo:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}

.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{_height:1%;}
.inner-center{margin-left: auto;margin-right: auto;width: 100%;}
.b{font-weight: bold;}
/*.red{color: #f00;}*/
.red {color: #e2666d;}
.green {color: #4a9a69;}
.gray{color:#999;}

.tac{text-align: center;}

.fwb{font-weight: bold;}
.db{display: block;}
.dib{display: inline-block;}

.layout-box {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.layout-box .box-col {-webkit-flex: 1;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;width: 100%;}


/*.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.display-show{
  -webkit-line-clamp: 100;
}*/

.list-intercept-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.list-intercept-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.list-intercept-false {
  -webkit-line-clamp: 100;
}